<div class="footer-container">
<div class="row-fluid">

<div class="span4">
	<p>Built in <a href="http://rubyonrails.org/">Rails</a> with the excellent 
		<a href="https://github.com/KatanaCode/blogit">Blogit gem</a></p>
	<p>Designed and developed by <%= link_to "James Osborn", profile_path(1)%></p>
	<p>Most photos are taken by friends or ourselves, all others are creative commons. Photos of some locations are from the <a href="https://developer.foursquare.com/">Foursquare API</a></p>
	<p><a href="/blog/posts.rss">Subscribe with RSS</a></p>
	</div>
<div class="span4 footer-nav"><ul ><%= render "shared/nav_links" %></ul></div>
<div class="span3" style="text-align: right;"><%if user_signed_in?%>
   Admin: <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
  <% else%>
    
  Admin: <%= link_to('Login', new_user_session_path)  %>  
  
  
  <% end %></div>
</div>
</div>



<script type="text/javascript">
// Google analytics tracker

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36751621-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
