  <%- # Pulled in to the sidebar and footer 
  											%>
  
  <li><%= link_to 'What', '/blog/posts' %></li>
  <li><%= link_to 'Where', locations_path %></li>
  <li><%= link_to 'Who', profiles_path %></li>