<div class="other-content toplift">
<%= render :partial =>'public_activity/shared/prof', :locals => { :a => a } %><%=link_to a.owner.profile.forename, profile_path(a.owner.id) %> updated a <% if a.trackable %>
<%= link_to "profile", profile_path(a.trackable_id) %>.
<%else%>a profile which has now been deleted.
<%end%>
<%= render :partial =>'public_activity/shared/info', :locals => { :a => a } %>
</div>
